<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Exit Velo</title>
    <link>https://exitvelo.us</link>
    <description>Cincinnati Reds baseball by the numbers.</description>
    <language>en-us</language>
    <atom:link href="https://exitvelo.us/feed.xml" rel="self" type="application/rss+xml"/>
    {% if articles.length > 0 %}<lastBuildDate>{{ articles[0].frontmatter.date | dateRfc822 }}</lastBuildDate>{% endif %}
{%- for article in articles %}
    <item>
      <title>{{ article.frontmatter.title }}</title>
      <link>https://exitvelo.us{{ article.url }}</link>
      <guid isPermaLink="true">https://exitvelo.us{{ article.url }}</guid>
      <pubDate>{{ article.frontmatter.date | dateRfc822 }}</pubDate>
      {% if article.frontmatter.category %}<category>{{ article.frontmatter.category }}</category>{% endif %}
      <description><![CDATA[{{ article.frontmatter.excerpt if article.frontmatter.excerpt else article.frontmatter.description }}]]></description>
    </item>
{%- endfor %}
  </channel>
</rss>
