<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://exitvelo.us/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://exitvelo.us/about.html</loc>
    <changefreq>monthly</changefreq>
    <priority>0.4</priority>
  </url>
{%- for cat in categories %}
  <url>
    <loc>https://exitvelo.us/category/{{ cat | categorySlug }}</loc>
    <changefreq>weekly</changefreq>
    <priority>0.6</priority>
  </url>
{%- endfor %}
{%- for article in articles %}
  <url>
    <loc>https://exitvelo.us{{ article.url }}</loc>
    <lastmod>{{ article.frontmatter.date | dateIso }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
{%- endfor %}
</urlset>
